/*fix background gradient */
html { height:100%; }
body { position:absolute; top:0; bottom:0; right:0; left:0; }

div.teksti {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    font-size: 500%;
    font-family: 'Raleway', sans-serif;
    #text-shadow: 5px 5px 40px rgba(0,0,0, 0.3);           
}
            
body {
    font-family: 'PT Sans', sans-serif;
    
    background-size: cover;
    background: white;
    background: -webkit-linear-gradient(grey, white);
    background: -o-linear-gradient(grey, white);
    background: -moz-linear-gradient(grey, white);
    background: linear-gradient(grey, white);
}
                
